@import url(../font/amatic-font.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*~~~~~~ General ~~~~~*/

body {
  font-family: "Amatic SC", sans-serif;
  background-image: url(../image/pattern.svg);
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #263238;
}

a:hover {
  color: #E65100;
}

/*~~~~~~ header ~~~~~*/

header {
  background-color: #ECEFF1;
  width: 100vw;
  height: 75px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header * {
  display: inline-block;
}

.header__menu-item {
  margin: 15px;
  font-size: 1.7em;
  font-weight: bold;
}

:where(.header__menu, .header__social-icons) li {
  list-style: none;
}

/*~~~~~~ Hero ~~~~~*/

.hero {
  text-align: center;
  color: #ECEFF1;
}

.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  width: min(100vw, 1200px);
  z-index: -100;
}

.hero__text-wrapper {
  position: relative;
  top: 15vw;
  width: 40vw;
  margin: 0 auto;
  border-radius: 12px;
}

.hero__colored-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  background-color: #263238;
  padding-block: 1em;
  filter: blur(50px);
  width: 500px;
  height: 300px;
  z-index: -1;
}

.hero__title {
  text-transform: uppercase;
  font-size: 8rem;
}

.hero__title::first-letter {
  font-size:10rem;
  color: #E65100;
}

.hero__subtitle {
  font-size: 1.512rem;
}

.hero__subtitle span + span::before {
  content: "/";
  padding-inline: 0.3em;
  color: #E65100;
}
